* {
    margin: 0;
    padding: 0;
}

.imgbox {
    display: grid;
    height: 100%;
}

.sky {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    z-index: 1;
}

.finder{
    position: absolute;
    z-index: 2;
    max-width: 70%;
    left: 15%;
    top: 23%;
}

.alphasc {
    position: absolute;
    z-index: 3;
    max-width: 8%;
    left: 20%;
    top: 35%;
}

.annasc{
    position: absolute;
    z-index: 3;
    max-width: 8%;
    left: 33%;
    top: 36%;
}

.annesc{
    position: absolute;
    z-index: 3;
    max-width: 8%;
    left: 46%;
    top: 36.5%;
}

.anne2sc{
    position: absolute;
    z-index: 3;
    max-width: 8%;
    left: 59%;
    top: 32.5%;
}

.anne3sc{
    position: absolute;
    z-index: 3;
    max-width: 8%;
    left: 71%;
    top: 35.5%;
}

.fallonsc{
    position: absolute;
    z-index: 3;
    max-width: 8%;
    left: 20%;
    top: 60%;
}

.nammusc{
    position: absolute;
    z-index: 3;
    max-width: 8%;
    left: 33%;
    top: 60.5%;
}

.hornetsc{
    position: absolute;
    z-index: 3;
    max-width: 8%;
    left: 46%;
    top: 61.5%;
}

.prepssc{
    position: absolute;
    z-index: 3;
    max-width: 8%;
    left: 59%;
    top: 61.5%;
}

#alpha{
    display: none;
    position: absolute;
    max-width: 40%;
    z-index: 4;
    left: 30%;
    top: 35%;
    border: 1px solid #7aa5f5;
    box-shadow: 5px 5px 5px #7aa5f5;
}

#anna{
    display: none;
    position: absolute;
    max-width: 40%;
    z-index: 4;
    left: 30%;
    top: 40%;
    border: 1px solid #7aa5f5;
    box-shadow: 5px 5px 5px #7aa5f5;
}

#anne{
    display: none;
    position: absolute;
    max-width: 50%;
    z-index: 4;
    left: 25%;
    top: 38%;
    border: 1px solid #7aa5f5;
    box-shadow: 5px 5px 5px #7aa5f5;
}

#anne2{
    display: none;
    position: absolute;
    max-width: 37%;
    z-index: 4;
    left: 31.5%;
    top: 20.5%;
    border: 1px solid #7aa5f5;
    box-shadow: 5px 5px 5px #7aa5f5;
}

#anne3{
    display: none;
    position: absolute;
    max-width: 40%;
    z-index: 4;
    left: 30%;
    top: 40%;
    border: 1px solid #7aa5f5;
    box-shadow: 5px 5px 5px #7aa5f5;
}

#fallon{
    display: none;
    position: absolute;
    max-width: 55%;
    z-index: 4;
    left: 22.5%;
    top: 40%;
    border: 1px solid #7aa5f5;
    box-shadow: 5px 5px 5px #7aa5f5;
}

#nammu{
    display: none;
    position: absolute;
    max-width: 65%;
    z-index: 4;
    left: 17.5%;
    top: 36%;
    border: 1px solid #7aa5f5;
    box-shadow: 5px 5px 5px #7aa5f5;
}

#hornet{
    display: none;
    position: absolute;
    max-width: 55%;
    z-index: 4;
    left: 22.5%;
    top: 42%;
    border: 1px solid #7aa5f5;
    box-shadow: 5px 5px 5px #7aa5f5;
}

#preps{
    display: none;
    position: absolute;
    max-width: 40%;
    z-index: 4;
    left: 30%;
    top: 40%;
    border: 1px solid #7aa5f5;
    box-shadow: 5px 5px 5px #7aa5f5;
}

#alpha_info{
    display: none;
    position: absolute;
    max-width: 35%;
    z-index: 5;
    left: 32%;
    top: 21%;
    border: 1px solid #7aa5f5;
    box-shadow: 5px 5px 5px #7aa5f5;
}

#anna_info{
    display: none;
    position: absolute;
    max-width: 35%;
    z-index: 5;
    left: 32%;
    top: 21%;
    border: 1px solid #7aa5f5;
    box-shadow: 5px 5px 5px #7aa5f5;
    
}

#anne_info{
    display: none;
    position: absolute;
    max-width: 35%;
    z-index: 5;
    left: 32%;
    top: 21%;
    border: 1px solid #7aa5f5;
    box-shadow: 5px 5px 5px #7aa5f5;
    
}

#anne2_info{
    display: none;
    position: absolute;
    max-width: 35%;
    z-index: 5;
    left: 32%;
    top: 21%;
    border: 1px solid #7aa5f5;
    box-shadow: 5px 5px 5px #7aa5f5;
    
}

#anne3_info{
    display: none;
    position: absolute;
    max-width: 35%;
    z-index: 5;
    left: 32%;
    top: 21%;
    border: 1px solid #7aa5f5;
    box-shadow: 5px 5px 5px #7aa5f5;
    
}

#fallon_info{
    display: none;
    position: absolute;
    max-width: 35%;
    z-index: 5;
    left: 32%;
    top: 21%;
    border: 1px solid #7aa5f5;
    box-shadow: 5px 5px 5px #7aa5f5;
    
}

#nammu_info{
    display: none;
    position: absolute;
    max-width: 35%;
    z-index: 5;
    left: 32%;
    top: 21%;
    border: 1px solid #7aa5f5;
    box-shadow: 5px 5px 5px #7aa5f5;
    
}

#hornet_info{
    display: none;
    position: absolute;
    max-width: 35%;
    z-index: 5;
    left: 32%;
    top: 21%;
    border: 1px solid #7aa5f5;
    box-shadow: 5px 5px 5px #7aa5f5;
}

#preps_info{
    display: none;
    position: absolute;
    max-width: 35%;
    z-index: 5;
    left: 32%;
    top: 21%;
    border: 1px solid #7aa5f5;
    box-shadow: 5px 5px 5px #7aa5f5;
}