* {
    background-color: #F2D479;
}

.title {
    font-family: 'Rubik';
    font-weight: 900;
    font-size: 60px;
    color: white;
    text-align: center;
    margin-top: -108px;
    margin-left: 7px;
}

#gradient_text {

    background-color: #f28705#F28705;
    background-image: linear-gradient(-45deg, #f28705, #F2D479);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;

}

.title2 {
    font-family: 'Rubik';
    font-weight: 900;
    font-size: 60px;
    -webkit-text-stroke: 1px white;
    color: transparent;
    text-align: center;
    margin-top: 80px;

}

.category {
    font-family: 'Rubik';
    font-weight: 700;
    color: white;
    text-shadow: 3px 3px #F2C335;
    font-weight: 700;
}

h2 {
    font-family: 'Rubik';
    font-weight: 500;
    color: black;
    text-shadow: 2px 2px #F2C335;
    font-size: 20px
}

a {
    font-family: 'Rubik';
    font-weight: 400;
    color: #F28705;
    text-decoration: none;
}

a:hover {
    font-family: 'Rubik';
    font-weight: 400;
    color: #F28705;
    background-color: #F2C335; opacity: 0.8;
    text-decoration: none;
}

p {
    font-family: 'Rubik';
    font-weight: 400;
    text-align: justify;
    color: black;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: -1%;
}

.row {
    display: flex;
}

.column1 {
    flex: 50%;
    padding: 50px;
    padding-top: 20px;

}

.column2 {
    flex: 50%;
    padding: 50px; 
    padding-top: 20px;
    margin-bottom: 5%;
}

.column3 {
    flex: 50%;
    padding: 50px;
    padding-top: 20px;

}

.column4 {
    flex: 50%;
    padding: 50px;
padding-top: 20px;

}

/* color palette from adobe: "One outstanding idea concept with yellow light bulbs" by Tierney

Color Theme Swatches in Hex
{ color: #F2CF1D; }
{ color: #F2C335; }
{ color: #F2D479; }
{ color: #F2A007; }
{ color: #F28705; }

Color Theme Swatches in RGBA
{ color: rgba(242, 206, 29, 1); }
{ color: rgba(242, 195, 53, 1); }
{ color: rgba(242, 211, 121, 1); }
{ color: rgba(242, 160, 7, 1); }
{ color: rgba(242, 135, 4, 1); }

Color Theme Swatches in HSLA
{ color: hsla(50, 89, 53, 1); }
{ color: hsla(45, 88, 57, 1); }
{ color: hsla(44, 82, 71, 1); }
{ color: hsla(39, 94, 48, 1); }
{ color: hsla(33, 96, 48, 1); }
*/